{% extends "base.html" %}

{% block content %}
			<!-- Content -->
				<section id="content">
					<div class="container">
						<div class="row aln-center">
							<div class="col-4 col-12-medium">
								<section>
									<div class="row">
										<div class="col-6">
											<header>
												<h2>Sławek</h2>
												<h3>Head programmer</h3>
											</header>
										</div>
										<div class="col-6">
											<a href="#" class="feature-image"><img src="assets/images/slawek.png" alt="" /></a>
										</div>
									</div>
									<p>
										Duis neque nisi, dapibus sed mattis quis, rutrum accumsan magna sed.
										Suspendisse eu varius nibh. Suspendisse vitae magna eget odio amet mollis
										justo facilisis quis. Sed sagittis amet lorem ipsum.
									</p>
								</section>
							</div>
							<div class="col-4 col-12-medium">
								<section>
									<div class="row">
										<div class="col-6">
											<header>
												<h2>Jurek</h2>
												<h3>Head engineer</h3>
											</header>
										</div>
										<div class="col-6">
											<a href="#" class="feature-image"><img src="assets/images/slawek.png" alt="" /></a>
										</div>
									</div>
									<p>
										Duis neque nisi, dapibus sed mattis quis, rutrum accumsan magna sed.
										Suspendisse eu varius nibh. Suspendisse vitae magna eget odio amet mollis
										justo facilisis quis. Sed sagittis amet lorem ipsum.
									</p>
								</section>
							</div>

							<div class="col-4 col-12-medium">
									<section>
										<header>
											<h2>Our mission</h2>
										</header>
										<p>
											Duis neque nisi, dapibus sed mattis quis, rutrum accumsan magna sed.
											Suspendisse eu varius nibh. Suspendisse vitae magna eget odio amet mollis
											justo facilisis quis. Sed sagittis amet lorem ipsum.
										</p>
									</section>
							</div>
						</div>
					</div>
				</section>
{% endblock %}