{% extends "base.html" %}

{% block content %}
			<!-- Content -->
				<section id="content">
					<div class="container">
						<div class="row aln-center">
							<div class="col-4 col-12-medium">

							</div>
							<div class="col-4 col-6-medium col-12-small">

								<!-- Box #2 -->
									<section>
										<header>
											<h2>Contact us</h2>
											<h3>If you have any questions, feel free to reach out!</h3>
										</header>
										<ul class="check-list">
											<li><i class="fa fa-envelope"></i>email@email.com</li>
											<li><i class="fa fa-phone"></i>(123) 956-1234</li>
										</ul>
									</section>

							</div>
							<div class="col-4 col-6-medium col-12-small">

							</div>
						</div>
					</div>
				</section>
{% endblock %}