{% extends "base.html" %}

{% block content %}
					<div id="banner">
						<div class="container">
							<div class="row">
								<div class="col-2"></div>
								<div class="col-8">
									<div class="row">
										<div class="col-12 ">

											<!-- Banner Image -->
												<a href="#" class="bordered-feature-image"><img src="assets/images/banner.webp" alt="" /></a>

										</div>
										<div class="col-12 ">

											<!-- Banner Copy -->
												<p>We do something really useful, important, and unique. Learn all about it here ...</p>
												<a href="product.html" class="button-large">Our product</a>

										</div>
									</div>
								</div>
								<div class="col-2"></div>
							</div>
						</div>
					</div>

{% endblock %}