{% extends "base.html" %}

{% block content %}
					<div id="banner">
						<div class="container">
							<div class="row">
								<div class="col-1 col-12-small"></div>
								<div class="col-6 col-12-small">

									<!-- Banner Copy -->
										<p>Our revolutionary, new product will change the way you listen to music!</p>
										<a href="#" class="button-large">Order Now!</a>

								</div>
								<div class="col-1 col-12-small"></div>
								<div class="col-4 col-12-small imp-small">

									<!-- Banner Image -->
										<a href="#" class="bordered-feature-image"><img src="assets/images/box.webp" alt="" /></a>

								</div>
							</div>
						</div>
					</div>

			<!-- Features -->
				<section id="features">
					<div class="container">
						<div class="row">
							<div class="col-3 col-6-medium col-12-small">

								<!-- Feature #1 -->
									<section>
										<h2>Feature 1</h2>
										<p>
											Duis neque nisi, dapibus sed mattis quis, rutrum accumsan sed. Suspendisse
											eu varius nibh. Suspendisse vitae magna mollis.
										</p>
									</section>

							</div>
							<div class="col-3 col-6-medium col-12-small">

								<!-- Feature #1 -->
									<section>
										<h2>Feature 2</h2>
										<p>
											Duis neque nisi, dapibus sed mattis quis, rutrum accumsan sed. Suspendisse
											eu varius nibh. Suspendisse vitae magna mollis.
										</p>
									</section>

							</div>
							<div class="col-3 col-6-medium col-12-small">

								<!-- Feature #1 -->
									<section>
										<h2>Feature 3</h2>
										<p>
											Duis neque nisi, dapibus sed mattis quis, rutrum accumsan sed. Suspendisse
											eu varius nibh. Suspendisse vitae magna mollis.
										</p>
									</section>

							</div>
							<div class="col-3 col-6-medium col-12-small">

								<!-- Feature #1 -->
									<section>
										<h2>Feature 4</h2>
										<p>
											Duis neque nisi, dapibus sed mattis quis, rutrum accumsan sed. Suspendisse
											eu varius nibh. Suspendisse vitae magna mollis.
										</p>
									</section>

							</div>
						</div>
					</div>
				</section>

{% endblock %}